body{
  background-color:rgb(242, 242, 234);
  margin: 0;
}

.header{
  margin: auto;
  width: 80%;

}

.helf-width{
  float: left;
  width: 70%;
  margin-left: 5%;
  padding-left: 2%;


}
.logo-bar{
  display: flex;
  align-content: center;
}

.logo-bar img{
  width:100px;
  height: 45px;
  padding-top: 0px;

  
}
.title-moto{
  margin-top: 5px;
  font-size: 29px;
  color: darkgrey;
  font-weight: 400;
}

.search-bar{
  display: flex;
  height: 20px;
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 40px;
 

}

.search-bar input{
  border: none;
  
  
}

.info-box{
  float: left;
  width: 40%;
  
  margin-left: 5%;
  padding-left: 2%;
}
.info-box img{
  height: auto;
  width: 100%;

}
.info-box p{
  font-size: 20px;
}
.info{
  margin: auto;
  width: 80%;
  margin-top: 60px;

}
.blue-text{
  color: steelblue;
}