.header {
  background-color: lightgray;
  height: 50px;
  width: auto;
}
.center {
  margin: auto 0 auto 200px;
  width: 50%;
}
.header-logo {
  height: 50px;
  width: auto;
}
.header-text {
  padding: 20px;
}
.header-row {
  vertical-align: middle;
  display: inline-block;
}
