body{
  background-color:rgb(242, 242, 234);
}

.header{

}

.helf-width{
  float: left;
  width: 70%;
  margin-left: 5%;
  padding-left: 2%;


}
.logo-bar{
  display: flex;
  align-content: center;
}

.logo-bar img{
  width:110px;
  height: 60px;
  padding-top: 8px;

  
}
.search-bar{
  display: flex;
  height: 20px;
  
 

}


